blogen-final/img/avatar.png
blogen-final/categories.html
blogen-final/details.html
blogen-final/index.html
blogen-final/login.html
blogen-final/posts.html
blogen-final/profile.html
blogen-final/settings.html
blogen-final/users.html
blogen-final/css/style.css
